#banner_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../assets/snowboardbg.gif");
  background-size: cover;
  background-position: 50% 50%;
  animation: anim-ss steps(23) 1s 5s infinite reverse;
}

#banner_container > h1 {
  color: #eee;
  margin-bottom: 32px;
}

#banner_container > h2 {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
  padding-left: 64px;
  padding-right: 64px;
}