#footer_cards_container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#footer_cards_container_svg {
  margin-right: 8px;
}

#footer_right_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}