#footer_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F6F6F6;
  border-top: 1px solid #ddd;
}

#footer_cards_container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#footer_cards_container_svg {
  margin-right: 8px;
}

#footer_right_info {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
}