#banner_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../../assets/banner.png");
  background-size: cover;
}

#banner_container > h1 {
  color: #3a3a3a;
  margin-bottom: 32px;
}

#banner_container > h2 {
  color: white;
  font-size: 28px;
  text-align: center;
  margin-bottom: 32px;
  padding-left: 64px;
  padding-right: 64px;
  /* max-width: 500px; */
}